{{#partial "content"}}
    <h3 class="index-title">{{department.name}} Department</h3>
    <p>Employee details:</p>
    <table class="table table-hover table-responsive table-sm">
        <thead class="table-info">
        <tr>
            <th scope="col">Staff ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Role</th>
            <th scope="col">Date Created</th>
            <th scope="col">Last Updated</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {{#each employees}}
            <tr>
                <th scope="row"><a href="/employees/{{id}}/{{position_id}}/{{department_id}}">{{staff_id}}</a></th>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{role}}</td>
                <td>{{created_at}}</td>
                <td>{{updated}}</td>
            </tr>
        {{/each}}
            <tr>
                <th scope="row" colspan="6"><a href="/departments/{{department.id}}/edit">Edit Department</a>  |  <a href="/departments/{{department.id}}/delete">DELETE Department</a></th>
            </tr>
        </tbody>
    </table>
{{/partial}}

{{> layout.hbs}}