{{#partial "content"}}
    {{#if editPosition}}
        <div class="form-div">
            <h1>Edit this Position!</h1>
            <form action="/positions/{{position.id}}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Edit this position's name</label>
                    <input class="form-control input-field" id="newPosition" name="newPosition" type="text" value="{{position.name}}">
                </div>
<!--                <div class="mb-3 input-div">-->
<!--                    <label for="department_id" class="form-label">Change Department</label>-->
<!--                    <select id="department_id" name="department_id" class="form-select">-->
<!--                        {{#each departments}}-->
<!--                            <option value="{{id}}">{{name}}</option>-->
<!--                        {{/each}}-->
<!--                    </select>-->
<!--                </div>-->
<!--                <p class="text-center">Don't see the right <span style="font-weight: bold">Department?</span><a href="/departments/new"> + New Department</a>-->
                <button type="submit" class="btn btn-success bt-sm">Submit</button>
            </form>
        </div>
    {{else}}
        <div class="form-div">
            <h3 class="text-center form-title">Add new Position</h3>
            <form action="/positions" method="post" class="form">
<!--                {{#if departments}}-->
                    <div class="mb-3 input-div">
                        <label for="name" class="form-label">Position name</label>
                        <input class="form-control border-bottom input-field" id="name" name="name" type="text" placeholder="Enter Position" required>
                    </div>
<!--                    <div class="mb-3 input-div">-->
<!--                        <label for="department_id" class="form-label">Department</label>-->
<!--                        <select id="department_id" name="department_id" class="form-select">-->
<!--                            {{#each departments}}-->
<!--                                <option value="{{id}}">{{name}}</option>-->
<!--                            {{/each}}-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <p class="text-center mb-3">Don't see the right <span style="font-weight: bold">Department?</span><a href="/departments/new"> + New Department</a>-->
<!--                {{else}}-->
<!--                    <p class="text-center"> Add a Department before adding a Position <a href="/departments/new">+ New Department</a> </p>-->
<!--                {{/if}}-->
                <button type="submit" class="btn btn-success btn-sm">Submit</button>
            </form>
        </div>
    {{/if}}
{{/partial}}

{{> layout.hbs}}